/* Global */
:root {
  font-family: WenKai, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-text-color: #FEFEFE;
  --link-text-color: #74caff;
  --shrinking-color: #e74c3c;
  --rising-color: #2ecc71;
  --join-color: #3498db;
  --leave-color: #f39c12;
}

@font-face {
  font-family: WenKai;
  src: url("assets/fonts/LXGWWenKai-Medium.ttf")
}

.v-application {
  color: var(--main-text-color) !important;
}

a {
  text-decoration: none;
  color: var(--link-text-color);
}

a:visited {
  color: var(--link-text-color);
}

.rising {
  color: var(--rising-color);
}

.shrinking {
  color: var(--shrinking-color);
}

.join {
  color: var(--join-color);
}

.leave {
  color: var(--leave-color);
}

/* Loading ring */
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

